/* Ví dụ về Absolute unit */
/* px */
/* .box {
    width: 100px;
    height: 100px;
    background-color: red;
}
h1 {
    font-size: 50px;
} */
/* Ví dụ về RELATIVE UNIT */
/* VD: % (phụ thuộc vào thẻ chứa nó */
/* .box {
    width: 50%;
    height: 100px;
    background-color: red;
} */
/* VD: rem (phụ thuộc vào thẻ html */
html {
    font-size: 20px;
}
h1 {
    font-size: 1rem;
}
