* {
    margin: 0;
}
.box {
    width: 60px;
    height: 60px;
    font-size: 25px;
    align-items: center;
    display: flex;
    color: white;
    justify-content: center;
}

.box.box1 {
    background-color: green;
}
.box.box2 {
    background-color: pink;
}
.box.box3 {
    background-color: blue;
    padding: 10px;
    border-top-width: 10px;
    border-bottom-width: 10px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-style: solid;
    border-color: black;
}   
/* Có thể viết gọn như này */
/* .box.box3 {
    border: 10px solid black;
} */